<!DOCTYPE html>
<html lang="en">
  {{ $title := index $.Site.Params.categories .Title | default .Title }}
<head>
  <title>{{ $title }} - {{ .Site.Title }}</title>
  <style>
    ul {
      list-style: none;
      padding: 0;
    }

    h2 {
      margin: 0;
    }
  </style>
  {{ partialCached "head.html" . }}
</head>

<body>
  <header>
    {{ partialCached "header.html" . }}
  </header>
  <main>
    <section>
      <h1>{{ $title }}</h1>
      <ul>
        {{ range .Paginator.Pages }}
        <li>
          <a href="{{ .Permalink }}">
            <h2>{{ .Title }}</h2>
            <p>{{ .Summary }}</p>
            <small>{{ .Date.Format "2006-01-02" }}</small>
          </a>
        </li>
        {{ end }}
      </ul>

      <!-- Pagination -->
      {{ template "_internal/pagination.html" . }}
    </section>
  </main>
</body>

</html>