<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ .Title }} - {{ .Site.Title }}</title>
  {{ if .Params.img }}
    {{ $imgUrl := .Params.img | absURL }}
    <meta name="og:image" content="{{ $imgUrl }}" />
    {{ end }}
  <meta name="description" content="{{ .Description }}" />
  <meta name="og:title" content="{{ .Title }}" />
  <meta name="og:description" content="{{ .Description }}" />
  {{ partial "head.html" . }}
  <style>
    h1 {
      margin: 60px 0 0 0;
    }
  </style>
</head>
<body>
  <header>{{ partial "header.html" . }}</header>
  <main>
    {{ if .Params.videoTxId }}
      {{ partial "video.html" . }}
    {{ else }}
      {{ if .Params.img }}
        {{ partial "hero.html" . }}
      {{ else if .Params.imgsz }}
        {{ partial "herosz.html" . }}
      {{ end }}
    {{ end }}
    <article>
      <header>
        <h1>{{ .Title }}</h1>
      </header>
      <section>{{ .Content }}</section>
    </article>
  </main>
</body>
</html>
