<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="/img/self/madeira/nuns/18x18.webp">
<link rel="stylesheet" href="/styles.css">
<meta name="theme-color" content="#000c0f">
<meta name="og:site_name" content="{{ .Site.Title }}" />
<meta name="og:type" content="{{ if .IsHome }}website{{ else }}article{{ end }}" />
<meta name="og:url" content="{{ .Permalink }}" />
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:domain" content="{{ .Site.BaseURL }}">
<meta name="twitter:url" content="{{ .Permalink }}">
<script src="https://lstn.fly.dev/client"></script>
