<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="/img/self/joey_300_round.webp">
<link rel="stylesheet" href="/styles.css">
<meta property="og:site_name" content="{{ .Site.Title }}" />
<meta property="og:type" content="{{ if .IsHome }}website{{ else }}article{{ end }}" />
<meta property="og:url" content="{{ .Permalink }}" />
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:domain" content="{{ .Site.BaseURL }}">
<meta property="twitter:url" content="{{ .Permalink }}">

