<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="robots" content="index, follow"/>
<meta name="author" content="Joey Innes">
<meta name="theme-color" content="#000c0f">
<meta name="og:locale" content="en_GB">
<meta name="og:site_name" content="{{ .Site.Title }}" />
<meta name="og:type" content="{{ if .IsHome }}website{{ else }}article{{ end }}" />
<meta name="og:url" content="{{ .Permalink }}" />
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:domain" content="{{ .Site.BaseURL }}">
<meta name="twitter:url" content="{{ .Permalink }}">
<link rel="icon" href="/img/self/madeira/nuns/18x18.webp">
<link rel="stylesheet" href="/styles.css">
