<style>
  .buttons {
    display: flex;
    justify-content: right;
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
  }
</style>
<video controls autoplay="false" poster="{{ .Params.img }}3840.avif">
  <source src="https://arweave.net/{{ .Params.videoTxId }}" type="video/mp4">
</video>
<section class="buttons">
  <span class="addr">
    https://arweave.net/{{ .Params.videoTxId }}
  </span>
  <span
  <a href="https://arweave.net/{{ .Params.videoTxId }}">
    Download H.265 master
  </a>
  <a href="https://viewblock.io/arweave/tx/{{ .Params.videoTxId }}">View tx</a>
</section>