<!DOCTYPE html>
<html lang="en">
<head>
  {{ $title := .Site.Title }}
  {{ $description := .Site.Params.description }}
  <title>{{ $title }}</title>
  <meta name="description" content="{{ $description }}" />
  <meta name="og:title" content="{{ $title }}" />
  <meta name="og:description" content="{{ $description }}" />
  <meta name="twitter:title" content="{{ $title }}" />
  <meta name="twitter:description" content="{{ $description }}" />
  {{ $homePoster := "https://joeyinnes.com/img/life/torrent-creusaz/3840.avif" }}
  <meta name="og:image" content="{{ $homePoster }}" />
  <meta name="twitter:image" content="{{ $homePoster }}">
  {{ partial "head.html" . }}
</head>
<body>
  <header>{{ partial "header.html" . }}</header>
  <main>
    <article>
      <picture>
        <source type="image/avif" 
                srcset="/img/life/torrent-creusaz/800.avif 800w,
                        /img/life/torrent-creusaz/1600.avif 1600w,
                        /img/life/torrent-creusaz/2400.avif 2400w,
                        /img/life/torrent-creusaz/2912.avif 2912w,
                        /img/life/torrent-creusaz/3840.avif 3840w"
                sizes="100vw">
        <img src="/img/life/torrent-creusaz/400.avif"
            width="3840" height="2160"
            style="width: 100vw; height: auto"
            alt="rebirth">
      </picture>
      <section>
        <h1>Hey, my name is Joey</h1>
        <h2>Currently satisfying curiosity with SWIM/gossip/protobuf/udp and worm-like script & app running.</h2>
      </section>
      <section>
        <h2>Thoughts on computing</h2>
        <ul>
          <li><h3>Self-reference is beautiful & powerful.</h3></li>
        </ul>
      </section>
      {{ $categories := .Site.Taxonomies.categories }}
      {{ range $categoryName, $category := $categories }}
      <section>
        {{ $title := index $.Site.Params.categories $categoryName | default $categoryName }}
        <h2>{{ $title }}</h2>
        {{ range first 2 $category.Pages }}
          <a href="{{ .RelPermalink }}">{{ partial "teaser.html" . }}</a>
        {{ end }}
      </section>
      {{ end }}
      {{ partial "footer" . }}
    </article>
  </main>
</body>
</html>
